.vscode/
# **/*debug
# Binaries for programs and plugins
*.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

./test_db/
./data/
./mysql-bin.index
.src/debug/